// you can change colors here
$theme-color: #096dd9;
$font-family: 'IPAToneLetter, "Segoe UI", "Noto Sans", Roboto, "Liberation Sans", "Helvetica Neue", Arial, sans-serif, -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", SansSerifCJKExt1, SansSerifCJKExt2';
$font-family-heading: $font-family;
$font-family-sans-serif: $font-family;
