// you can change colors here
$theme-color: #096dd9;
$font-family: 'IPAToneLetter, "Noto Sans", "Source Sans 3", SourceSans3, "Segoe UI Variable Text", "Segoe UI", Roboto, "Liberation Sans", Arial, "Helvetica Neue", SansSerifCJKExtSubset, "Noto Sans CJK SC", "Noto Sans SC", SourceHanSans, -apple-system, sans-serif, BlinkMacSystemFont, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", SansSerifCJKExt1, SansSerifCJKExt2';
$font-family-heading: $font-family;
$font-family-sans-serif: $font-family;
